<% include header.ejs %>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <h2>Lista de horas encoladas en base de datos</h2>
      <thead class="thead-dark">
        <tr>
          <th scope="col-1">#</th>
          <th scope="col-2">Paciente</th>
          <th scope="col-2">Fecha</th>
          <th scope="col-2">Hora</th>
          <th scope="col-2">Area</th>
          <th scope="col-5">Comentarios</th>
          <th scope="col">Eliminar Solicitud</th>
        </tr>
      </thead>
      <tbody>
        <% solicitudes.forEach(function(item) { %>
        <tr>
                <form action="/api/queue/deleteSolicitud" method="post" >
            <td> ### </td>
            <td class="form-group" name="paciente" id="paciente"><%= item.paciente %> </td>
            <td class="form-group" name="fecha" id="fecha"><%= item.fecha %> </td>
            <td><%= item.hora %></td>
            <td class="form-group" name="area" id="area"><%= item.area %> </td>
            <td><%= item.comentarios %> </td>
            <td>
                <input type="submit" class="btn btn-info" formmethod="POST" >Hora Asignada</input>
            </td>
            </form>

        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <% include footer.ejs %>